[submodule "src/assignment3"]
	path = src/assignment3
	url = git@github.com:KyleYue/Project3_WordLadder.git
	branch = master
[submodule "src/assignment4"]
	path = src/assignment4
	url = git@github.com:KyleYue/Project4_Critters.git
	branch = master
[submodule "src/assignment5"]
	path = src/assignment5
	url = git@github.com:KyleYue/Project5_Critter2.git
[submodule "src/pMap"]
	path = src/pMap
	url = git@github.com:ericxl/ee422c-quiz6.git
